.form-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}
.table-input {
  padding: 6px 10px;
}
.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.actions-footer {
  display: flex;
  justify-content: flex-end;
  padding: 20px 0;
}
